:root {
  /*:root can be useful for declaring global CSS variables*/
  font-size: 16px;
  font-family: "Open Sans";
  /*text colors and bg colors will be declared here as global variabels for easier use*/
}
body {
  background-color: #343a40 !important;

  padding: 0;
  margin: 0;
}
.mainIndex {
  color: #ececec;
  font-size: 19px;
}
/*         customizing the scrollbar of the page       */
body::-webkit-scrollbar {
  width: 0.5rem;
}
/*body::-webkit-scrollback-track {
  background: #850909;
}*/ /* this shit aint working anymore*/
body::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}
/*                        END                          */
/*                  Navbar customization               */
.navbar1 {
  position: fixed;
  background-color: var(--bg-primary);
  background-image: url(https://i.pinimg.com/564x/88/c2/45/88c2456193cfca4ba3d8ebff24311789.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-nav1 {
  align-items: center;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav-item1 {
  font-weight: 700;
  padding-top: 0.5rem;
}
.navbar1 h1 {
  color: #d4d4d4;
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
  font-family: "Passions Conflict", cursive;
  text-align: center;
}

a {
  color: white !important;
  text-decoration: none !important;
}
.navbar1 a:hover {
  color: rgb(180, 180, 180);
}

.nav-item1 img {
  border-radius: 50%;
  height: 15rem;
}
.fa-brands {
  margin: 0.5em;
  color: #ececec;
  transition: 0.1s;
}
.navbar1 .fa-brands:hover {
  color: #9dffff;
  transition: 0.1s;
  transform: scale(1.1);
}

.navbar-nav1 span:hover {
  transition: 0.1s;
  color: #9dffff;
}
.modal-body img {
  max-width: 100%;
}
/*SKIN COLOURED BUTTONS*/
.btn-skin {
  background-color: #a6a08f !important;
  color: white !important;
}

/*            MOBILE & PC VIEW - RESPONSIVE SIDE          */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0rem; /*5em x 16px = 80px*/
    padding: 2rem;
  }
  .navbar1 {
    min-height: 650px;
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 18rem; /*5em x 16px = 80px*/
    padding: 2rem;
  }
  .navbar1 {
    width: 18rem; /*the same as a margin-left property*/
    height: 100vh; /*to be responsive*/
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    margin-left: 18rem; /*5em x 16px = 80px*/
    padding: 2rem;
  }
  .navbar1 {
    width: 18rem; /*the same as a margin-left property*/
    height: 100vh; /*to be responsive*/
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    margin-left: 20rem; /*5em x 16px = 80px*/
    padding: 2rem;
  }
  .navbar1 {
    width: 20rem; /*the same as a margin-left property*/
    height: 100vh; /*to be responsive*/
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    margin-left: 22rem; /*5em x 16px = 80px*/
    padding: 2rem;
  }
  .navbar1 {
    width: 22rem; /*the same as a margin-left property*/
    height: 100vh; /*to be responsive*/
  }
}
